version: '2'

services:

  mcsurvival:
    container_name: mc-survival
    image: jsonxr/minecraft-spigot:1.9
    restart: always
    ports:
      - '25565:25565'
      - '80:8123'
    volumes_from:
      - data-mcsurvival

  data-mcsurvival:
    container_name: data-mcsurvival
    image: jsonxr/minecraft-spigot:1.9
    command: 'true'
    volumes:
      - /minecraft

